body{
    background-color: #c8e9f0;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: white;
}
.navbar-menu{
    margin: 0;
    padding: 0;
    text-align: center;
}
.navbar-iteam{
    display: inline-block;
    padding: 25px 10px;
}
.navbar-iteam a{
    text-decoration: none;
    color: gray;
    padding: 20px 15px;
    display: inline-block;
}
.b{
    width: 200px;
    height: 50px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
.navbar-item::after{
    contain: "";
    width: 12px;
    height: 15px;
    display: inline-block;
    background-image: url(../rasmlar/down-arrow.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
    vertical-align: middle;
    margin-left: 5px;
}
.navbar-item{
    position: relative;
}
.drop-menu{
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    width: 120px;
    background-color: #f1f1f1;
    display: none;
}
.navbar-item:hover .drop-menu{
    display: block;
}
.sub-menu{
    margin: 0;
    padding: 0;
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 100%;
    left: 0;
    width: 140px;
    display: none;
}
.sub-menu-item{
    list-style: none;
    color: #808080;
    padding: 10px 15px;
    position: relative;
}
.sub-menu-item:hover{
    color: white;
    background-color: rgba(65, 105, 225, 0.5);
}
.sub-menu-item > .sub-menu{
    position: absolute;
    left: 100%;
    top: 0;
}
.main-menu-item:hover > .sub-menu{
    display: block;
}
.sub-menu-item:hover >.sub-menu{
    display: block;
}